.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    
}
.card{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    padding: 3%;
    margin: 0 1%;
    background-color: white;
    line-height: 1.5;
    gap : 1.5rem;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.card-left{
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border: 20%;
    
}
.card-left img{
    width:100%;
    height: auto;
    min-height: 60px;
    padding: 1rem;
    border-radius: 20%;
}
.card-center {
    width: 50%;

}
.card-center p,h3 {
 display: flex;
   align-items: flex-start;
}
.card-sub {
    display: flex;

    flex-wrap: wrap;
}
.card-sub, .card-loc{
    font-size: 13px;
    color: darkgray;

}

.card-sub p {
    display: flex;
    padding: 0 0.5rem 0 0;
    align-items: center;
}

.card-right {
    width: 15%;
    
}
a{
    text-decoration: none;
    color : grey;
    font-size: 13px;
}
.card-salary{
    color: var(--primaryColor);
    padding: 2.5rem,0;
    margin-top: 15px;
}
span{
    color: black;
}
img:hover{
    background-color: lightblue;
}
@media  screen and (max-width:880px) {
 
    
    .card-left img{
     width:120%;
     height: 80%;
    }


}
@media  screen and (max-width:700px) {
 
    
   .card-left img{
     height:80%;
     width:150%
    }


}
