.main{
    width:calc(100%-20%-25%);
    min-height:100%;
    min-width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 2%;
   
    background-color:snow ;
   
    margin-left: 20%;
    margin-right:25%;
    z-index: inherit;
   
}
.main-header{
    display: flex;
    align-items: center;
    gap:1rem;

    
}
.menu-bar {
    
    color: black;
    padding: 0.5rem;
    display: none;
    
}
.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 0.5rem 1rem;
    gap:1rem;

   
}
.search input {
    width: 90%;
    border: none;
    
  
}
.btn-search{
    position: absolute;
    right: 0;
    top: 0;
   height: 100%;
    padding: 0 5%;
    border: none;
    background-color: var(--primaryColor);
    color: white;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    cursor: pointer;
}
.btn-search:hover{
    background-color: var(--secondaryColor);
    color: black;
}  


       


@media  screen and (max-width:880px) {
    .menu-bar{
      display: block;
    }
    .main{
        width: calc(100%-40%);
        margin-left: 0;
        margin-right:30%;
      }

}
@media  screen and (max-width:780px) {
 
    
    .main{
     width:70%
    }


}
@media  screen and (max-width:700px) {
 
    
    .main{
     width:100%
    }


}
