.sidebar{
    width:20%;
    max-width: 20%;
    height:100%;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--primaryColor);
    color: white;
    position: fixed;
    left: 0;
}

.logo{
    letter-spacing: 2;
    margin-bottom: 80px;
   

}
.menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.menu .a {
    display: flex;
    align-items: center;
    color: white;
   
    text-decoration: none;
    font-size: 15px;
}
.menu svg {
    margin-right: 0.5rem;
}
.menu a:hover {
    color:var(--secondaryColor);
}

#open {
display: block;
}



@media  screen and (max-width:880px) {
 
    .sidebar{
        flex-direction: row;
        height:20%;
        top:0;
       width: 100%;
       max-width:70%;
       position: relative;

    }
    .menu {
        flex-direction: row;
        align-items: flex-start;

    }
    .menu a {
        flex-direction: row;
        justify-content: space-evenly;
        height: 20px;
        top:0;
        width: 100%;
        
        
       
        
    }
    .menu #a-l{
        display: none;
    }
   
 .logo{
    display: none;
 }
 .profile {
    display: none;
 }
 
 .profile-name {
    display: none;
 }
 .detail {
    top: 0;
 }
}
@media  screen and (max-width:700px) {
 
    
    .sidebar{
      max-width: 100%;
    }


}