.filter-wrapper{
    margin: 1rem 0;
    font-size: 14px;
}

.filter{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin: 0px 5rem;
}
.filter-wrapper p {
    display: flex;
    justify-content: flex-start;
}

.btn-filter{
    min-width: 110px;
    padding: 0px,5rem;
    border-radius: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
   margin: 1px;
}

.btn-filter:hover {
    background-color:var(--primaryColor);
    color: white;
    box-shadow: rgba(0,0,0,2.4)0px,3px,8px;
}
.sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
} 
.sort p{
font-size: 14px ;
}
.sort-list select{
    height: 1.5rem;
    border: none;
    border-radius: 20px;
    margin: 0,2px;
}
